@import url('../../index.css');

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.weather__input button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--color-green);
    transition: all 0.3s;
}

.weather__input button:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    transform: scale(1.1);
}

.button__search {
    margin-right: 10px;
}

.input__city {
    padding: 5px 10px;
    width: 220px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.weather__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--color-green);
}

.info__temp {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-green);
}

.info__img {
    width: 80px;
    height: 80px;
}

.details--active {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 40px;
}

.details div:not(:last-child) {
    margin-bottom: 7px;
}